<div class="bbody">
  <div class="ddescription">
    <img src="" alt="Advertisement">
    <div class="description">
      <p name="nameAd" style="height:25px;">Name</p>
      <p name="nameAd" style="height:25px;">Visits</p>
      <p name="nameAd" style="height:25px;">Terms and Conditions</p>
      <p name="nameAd" style="height:25px;">Expiration Date</p>
      <p name="nameAd" style="height:25px;">Age Limit</p>
      <p name="nameAd" style="height:25px;">Additional Description</p>
      <p name="nameAd" style="height:25px;">Price</p>
    </div>
  </div>
</div>
