<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>

        
      <div class="main">
        <section id="gif" class="module bg-dark-30" data-background="../../assets/images/comet-home.gif">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt mb-0">Login-Register</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <div class="row">
                
                <app-log-in></app-log-in>
                
                  <div class="SignIn">                    
                    <app-sign-up></app-sign-up>
                  </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>